<h2>Brands</h2>
<div>
  <div>
  <div>
    <h4>According to Block</h4>
      <p>my personal blog</p>
      <p>Amazon Affiliate Marketing</p>
  </div>
  <div>
    <h4>PowerReviews Support Form</h4>
      <p>Live support form clients use to engage the Technical Support team</p>
      <p>Free Heroku starter app combined with a SendGrid integration</p>
  </div>
  <div>
    <h4>Eat For Us</h4>
      <p>Food blog</p>
      <p>Farmers Market Locator</p>
      <p>Vending Machines</p>
      <p>Subscription boxes</p>
      <p>Seeds</p>
      <p>Plant nite</p>
      <p>Pins</p>
      <p>Taco trucks</p>
      <p>Greenhouses</p>
      <p>Rooftop kitchen bar that does cooking classes</p>
  </div>
  <div>
    <h4>Recip-E</h4>
      <p>Dev Bootcamp Final Project</p>
      <p>Mobile-first ingredient search based recipe app</p>
  </div>
  <div>
    <h4>Pharoah</h4>
      <p>The Creative Circus Final Project</p>
      <p>Board game created with team of copywriters and designers</p>
  </div>
</div>