<h2>Get to know me</h2>
<div id='questions'>
    <div>
        <h3 class='question'>What's your favorite quote?</h3>
        <p class='answer'>"Happiness is when what you think, what you say, and what you do are in harmony." -Mahatma Gandhi</p>
    </div>
    <div>
        <h3 class='question'>Name your proudest moment.</h3>
        <p class='answer'>Graduating Dev Bootcamp. Graduation day entails presenting your final project in front of family, friends, and peers. It's an entire week of work, an eternity by the bootcamp's standards, at the end of an already trying and intensive program. Committing to that program was life-changing, and the best part was that many of the other graduates shared the same sentiment.</p>
    </div>
    <div>
        <h3 class='question'>Do you have a favorite celebrity?</h3>
        <p class='answer'>I definitely look up to Robin Williams.</p>
    </div>
    <div>
        <h3 class='question'>What's the last book you read?</h3>
        <p class='answer'>Drive by Daniel Pink. Fascinating read about human motivation!</p>
    </div>
    <div>
        <h3 class='question'>What's your definition of success?</h3>
        <p class='answer'>Getting better each day while bringing forth an infectious enthusiasm.</p>
    </div>
    <div>
        <h3 class='question'>What would you do with a million dollars?</h3>
        <p class='answer'>I'd open up a vacation dog ranch paradise adoption center for strays. The real financially responsible answer wouldn't be as fun!</p>
    </div>
</div>