<h2>Work Samples</h2>
<div>
    <h4>Tableau Exercise</h4>
    <h5>Map of Farmers Markets by Zip code based on <a target="_blank" href="https://www.ams.usda.gov/services/local-regional/farmers-markets-and-direct-consumer-marketing">USDA data</a></h5>
    <p>This data was also used from its API JSON form to create a Farmer's Market Locator using Google Maps API. See it <a href="http://www.eatforus.com/locator">here</a></p>
    <img src='https://res.cloudinary.com/blockscloud/image/upload/v1554609414/tableau_usda_zerj7y.png' width="1000"/>

</div>