<h2>Work Samples</h2>
<div>
    <h4>Tableau Exercises</h4>
    <div>
    <h5>Map of Farmers Markets by Zip code based on <a target="_blank" href="https://www.ams.usda.gov/services/local-regional/farmers-markets-and-direct-consumer-marketing">USDA data</a></h5>
    <p>This data was also used from its API JSON form to create a Farmer's Market Locator using Google Maps API. See it <a href="http://www.eatforus.com/locator" target="_blank">here</a></p>
    <img src='https://res.cloudinary.com/blockscloud/image/upload/v1554609414/tableau_usda_zerj7y.png' width="1000"/>
    </div>
    <br />
    <div>
    <h5>Graph of my weight over the past 5 years based on my own self-recorded Google Sheets data - view<a target="_blank" href="https://docs.google.com/spreadsheets/d/1MbaUkaTd9TeIYFOhHZH_TwEdL-Q9OCArIQ-w5D7PdvI/edit?usp=sharing">here</a></h5>
    <img src='https://res.cloudinary.com/blockscloud/image/upload/v1554919142/weight-chart_bmckaa.jpg' width="800"/>
    </div>
</div>