<h2>Services + Skills</h2>
<div id="skills">
    <ul>
        <li>Cloud Development</li>
        <li>Heroku + Heroku CLI</li>
        <li>AWS + AWS CLI</li>
        <li>Digital Ocean SSH</li>
    </ul>
    <ul>
        <li>General Software</li>
        <li>Microsoft Office (Word / Powerpoint / Excel )</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Illustrator</li>
        <li>Adboe Bridge</li>
        <li>Adobe Premiere Pro</li>
        <li>Shopify</li>
        <li>Wordpress</li>
    </ul>
    <ul>
        <li>Coding Languages + Frameworks</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>Python</li>
        <li>SQL</li>
        <li>Javascript</li>
        <li>jQuery</li>
    </ul>
    <ul>
        <li>Coding Tools + Miscellaneous</li>
        <li>Postman</li>
        <li>Git + Github</li>
        <li>Atom + Code Editors</li>
        <li>Chrome Developer Tools</li>
    <ul>
        <li>MarTech</li>
        <li>Tableau</li>
        <li>Qualtrics</li>
    </ul>
    <ul>
        <li>Soft Skills</li>
        <li>Emotional empathy</li>
        <li>Active listening</li>
        <li>Teamwork + Collaboration</li>
        <li>Communication (Oral + Verbal)</li>
    </ul>
    

</div>

<div class="skills">
    <%= image_tag 'logos.png', width: '800px', alt: 'Various Logos' %>
</div>
