body {
  background-color: rgba(158, 228, 250, 0.6);
}


header {
  border-bottom: 1px solid black;
  height: 100px;

  nav {
    display: flex;
    height: 100px;
    width: 500px;
    justify-content: center;
    margin: 0 auto;
    ul {
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;

      li {
        float: right;
        margin: 2%;
        list-style-type: none;
        text-decoration: none;
      }

        a {
          text-decoration: none;
        }
    }
  }
}

.buttons {

  button {
    background-color: rgb(219, 157, 23); /* Green */
    border: none;
    // color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #4CAF50;
    color: white;
  }
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1% auto;
  justify-content: center;
}


img.main {
  justify-content: center;
}


footer {
  clear: both; 
  display: flex;
  
	justify-content: space-around;
	height: 100px;
	text-align: center;
	margin-top: 3%;
  border-top: 1px solid black;

  div {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: flex-start;

      div {
         justify-content: center;

         li {
           list-style-type: none;

           a {
            text-decoration: none;
           }
         }
      } 
  }
  
  img {
    width: 50px;
  }
}

#projects div {
  margin-top: 2%;
}

div.top {
  display: flex;
  flex-direction: row;
}

div.bottom {
  display: flex;
}

section#bottom div {

  margin: 1% auto;

  
  ul {
    margin-left: 10%;
  }
}

h2 {
  width: 100%;
}

h4 {
  font-size: 1.5em;
}
#pharoah-img {
  margin-left: 5%;
  width: 100%;

  img {
    height: 200px;
  }
}

#skills ul li {
  margin-left: 3%;
  width: 300px;
}
#skills ul li:first-child {
  font-weight: bold;
  list-style-type: none;
  margin-left: 0;
}