<h3>Books</h3>
<h3>Electronics</h3>
<h3>Kitchen &amp; Home</h3>
<h3>Hygiene</h3>
<h3>Office</h3>
<h3>Stores</h3>
<h3>Recommended</h3>

<% @products.each do |prod| %>
  <p><%= prod.name %></p>
<% end %>
